<div style="background:#dde"><p>BETA :<b>CMSimple</b>TEMPLATE TRANSLATOR<hr> .. just for testing .. converts CMSimple Templates to cms.libe.net<br><small>cms.libe.net has nothing in common with CMSimple, this script only translates cmsimple templates to cms.libe.net</small></p><small>
<p>Usage: just copy the Template Files to ./templates/cmsimple_convert</p>
<p>how does it work: index.php calls and translates the copied file template.htm and its Images and CSS Style files</p>
<p>BETA: maybe there are some tags not correct interpreted, depending on the template</p></small>
<b>CMSimple Templates can be found on the following Websites:</b><br><small>(for usage: please read the licence agreement of respective sites)</small></br>
<a href="http://www.cmsimple.org/?Templates" style="font-size:10px;">Home of CMSimple: http://www.cmsimple.org</a></br>
<a href="http://torsten-behrens.de/"style="font-size:10px;">http://torsten-behrens.de</a></br>
<a href="http://www.cmsimplewebsites.com/?Language" style="font-size:10px;">http://www.cmsimplewebsites.com/?Language</a></br>
<a href="http://www.cmsimple-styles.com/cmsimplestyles/?Templates" style="font-size:10px;">http://www.cmsimple-styles.com/cmsimplestyles/?Templates</a></br>
<a href="http://www.nmud.de/cmsimple-templates/downloads.php" style="font-size:10px;">http://www.nmud.de/cmsimple-templates/downloads.php</a></br>

... and many more ...</div><hr>

