<p>A simple website template from cms.libe.net<br>
integrated Lightbox2 (jquery based)</p>
<p>includes the File phone-index.php, which loads an <br>alternative Layout optimized for Phones (including Smartphones)</p>
<p>if you like to build an Layout for Tablets create an tablet-index.php <br>(not only default, is possible for all templates)
<br><br>to use the Phonelayout in another Template, simple copy the Files <br>phone-index.php and phone-main.css <br>to the folder of the other template</p>
